/* A Textual CSS file for the Lens of Providence */

#app-grid {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 4fr;
}

#sidebar {
    height: 100%;
    border-right: thick $primary;
}

#log_stream {
    height: 100%;
}

#channels, #agents {
    border-bottom: wide $primary;
    padding: 1;
}

Header {
    dock: top;
}

Footer {
    dock: bottom;
}
