__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
*.egg

poetry.lock

.env
.venv/
env/
venv/

.ruff_cache/
.pytest_cache/
.mypy_cache/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

.cogency
.sandbox
.protoss
archives/

trials/runs/
trials/**/*.db
